@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato&display=swap');

.contacts{
    font-family: 'Quintessential', cursive !important;
    font-family: 'Roboto Mono', monospace !important;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 5rem;
    width: 100%;
    background-color: #333333f5;
    padding: 6rem 0 6rem 0;
    padding: 1rem;
    /* flex-wrap: wrap !important; */
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 10rem;
}
.contacts *{
    background-color: transparent;
    font-family: 'Quintessential', cursive;
    font-family: 'Roboto Mono', monospace;
}

.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* box-shadow: 10px 10px 20px #33333392,-10px -10px 20px #33333392; */
    border-radius: 1rem;
    /* padding: 3rem; */
    text-align: center;
    gap: 2rem;
}
.remainder{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    box-shadow: 10px 10px 20px #333,-10px -10px 20px #333;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
    flex: 1;
}
.contact-form{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    color: #fff;
    box-shadow: 10px 10px 20px #333,-10px -10px 20px #333;
    border-radius: 1rem;
    padding: 1.5rem;
    /* align-self: center; */
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    flex: 1;
    /* gap: 1rem; */
}

.contact-form table tr td{
    /* width: 100%; */
    padding: 1rem;
    text-align: left;
}
.contact-form table{
    align-self: center;
}

.contact-form input{
    padding: 1rem;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}
#contact-table1{
    width: 100%;
    margin-top: 3rem;
}

#Textarea{
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid gray !important;
    background: transparent !important;
    font-size: 1.5rem !important;
    color: #fff !important;
    
    }

    #button{
        font-weight: 700;
        margin: 0;
    }

    .contact-details{

        color: #fff;
        box-shadow: 10px 10px 20px #333,-10px -10px 20px #333;
        border-radius: 1rem;
        padding: 1rem !important;
        width: 100%;
        text-align: left;
        font-size: 2rem;
        flex: 1;
        border: 1px solid #2ddbd4;
    
    }
    .contact-details{
        /* display: none; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
     
    }
    .contact-details table tr td{
        text-align: start;
    }
    .contact-details table tr td:nth-child(2){
        color: gray;
    }
    
    .contact-details table tr td:nth-child(1){
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        line-height: 5px;
        gap: 1rem;
    }
    
    .cont-icon{
        color: hotpink;
    }

    ::placeholder {
        color: rgba(216, 208, 208, 0.564) !important;
        opacity: 1;
      }

      .button{
        padding: 5px;
        box-shadow: 5px 5px 10px gray;
        border-radius: 5px !important;
        margin-top: 5rem !important;
        height: 45px !important;
        width: 150px !important;
        background-color:#fff !important;
        color: #333333f5 !important;
        border: 3px inset hotpink !important;
    }
    
    
    .button:hover{
        cursor: pointer;
        color: #fff !important;
        background: #14ffe7 !important;
        box-shadow: 0 0 50px #14ffd0 !important;
        border: 3px inset #fff !important;
    
    }
    
@media (max-width:950px)  {
    .contacts{
        padding: 0%;
        padding-bottom: 0 !important;
       }
       
   .contact-box{
    flex-direction:column ;
    margin: 0%;
    padding: 0%;
   }
   .icon ion-icon{
    background-color: transparent;
    color: #fff;
}
    
}