.container1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
}
.connect{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 5rem 0 5rem;
    gap: 2rem;
    background-color: transparent;
    margin-top: 1rem;
    justify-content: center;
}
.social:hover{
    background-color: #fff;
    color: #333333f5;
    }
    .social{
        padding: 10px;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 5px #fff);
    
    }
    .detail{
        text-align: left;
        width: 100%;
        padding-left: 2em;
        padding-top: 10em;
        background: transparent;
        position: relative;
        align-items: center;
    }
    .detail p{
        color: #fff;
        font-size:2rem ;
        background: transparent;
    }
    .detail2{
        width: 100%;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        background: transparent;
    }
    .detail2 span{
        display: block;
        background-color: transparent;
    }
    .color{
        color: rgb(0, 251, 255);
        font-weight: bolder;
        font-size: 3em;
        font-family: 'Dancing Script', cursive; 
    }
    .button{
        padding: 5px;
        box-shadow: 5px 5px 10px gray;
        border-radius: 5px !important;
        margin-top: 5rem !important;
        height: 45px !important;
        width: 150px !important;
        background-color:#fff !important;
        color: #333333f5 !important;
        border: 3px inset hotpink !important;
    }
    .button:hover{
        cursor: pointer;
        color: #fff !important;
        background: #14ffe7 !important;
        box-shadow: 0 0 50px #14ffd0 !important;
        border: 3px inset #fff !important;
    }
    .btn1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        height: fit-content;
        width: 100%;
        margin: 0 !important;

        background-color: transparent;

    }
    .image{
        margin-top: 0;
    }
.card1{
    position: relative;
    background: transparent;
    width: fit-content;
    transition: 0.5s;
    top: 5rem;
    height: 600px;
    margin-right: 10rem;
    align-items: center;
    width: fit-content;
    background: transparent !important;
    border: none;

}
.card1 .lines{
position: relative;
background: transparent;
inset: 0;
width: fit-content;
overflow: hidden;
}

.card1 .lines::before{
    content: ' ';
    position: absolute;
/* transform: translate(-50%,-50%); */
    top: 50%;
    left: 50%;
    height: 120px;
    width: 700px;
    background: linear-gradient(transparent,rgb(0, 251, 255),rgb(0, 251, 255),rgb(0, 251, 255),transparent);
    animation: animate 4s linear infinite;
}
.card1 .lines::after{
    position: absolute;
    inset: 3px;
    background: transparent;
}

.sun {
    top: -8%;
    left: -12%;
    width: 120px;
    height: 120px;
    background: -webkit-linear-gradient(to right, #fff, #fff);
    background: linear-gradient(to right, #fff, #fff);
    border-radius: 60px;
    display: inline;
    position: absolute;
  }
  
  .sunshine {
    animation: sunshines 2s infinite;
  }
  
  @keyframes sunshines {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
  


@media (max-width:950px)  {
    .container1{
        flex-direction: column-reverse;
        flex-wrap: wrap !important;
        gap: 1rem;
        padding-top: 1rem;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        padding-bottom: 5rem;
    }
    .connect{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
    }
    .detail{
        padding-top: 1rem;
        padding-left: 0;
    }
    .btn1{
        padding-top:2rem;
    }
    .button{
        margin-top: 0 !important;
    }
    .detail2{
        padding-left: 2rem;
        padding-top: 0 !important;
    }

    .card1{

        display: flex;
        /* position:relative; */
        justify-content: center;
        align-items: center;
        height: 350px;
        top: 0;
        /* margin: 0% !important; */
        margin: 0;
        width: 100%;
        background: transparent;
    }
    .card1 .lines img{
        box-shadow: none;
        margin: 0;
        right: 100px;
        height: 100%;
        width:250px;
        align-self: center;
    }
.card1 .lines{
    position: relative;
    height: 100%;
    width: fit-content;
    width: fit-content;
    padding: .5rem;
}

.sun{
    left: 10%;
}
}